{%- if params.task %}
  {%- for item in params.task %}
  <li class="app-task-list__item">
    <div class="nhsuk-grid-column-one-half">
      <span class="app-task-list__task-name">
        <a href="{{ item.URL }}" aria-describedby="eligibility-completed">
          {{ item.title }}
        </a>
      </span>
    </div>
    <div class="nhsuk-grid-column-two-quarters">
      <span class="app-task-list__task-name">
        <p>{{ item.requirement }}</p>
      </span>
      <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">{{ item.status }}</strong>
    </div>
  </li>
  {% endfor %}
{% endif %}
